<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
      <div class="game-area">
        <div class="pet-area">
          <!-- 精靈的位置 -->
          <img src="/images/kappa.png" alt="Pet" class="pet">
        </div>
        <div class="furniture-area">
          <!-- 家具的位置 -->
          <img src="/images/window.png" alt="Furniture 7" class="furniture BG">
          <img src="/images/furniture.png" alt="Furniture 1" class="furniture">
          <img src="/images/nintendo-switch.png" alt="Furniture 2" class="furniture">
          <img src="/images/racing-car.png" alt="Furniture 3" class="furniture">
          <img src="/images/sport.png" alt="Furniture 4" class="furniture">
          <img src="/images/bath-tub.png" alt="Furniture 5" class="furniture">
          <img src="/images/workspace.png" alt="Furniture 6" class="furniture">
          <!-- 更多家具... -->
          <div class="hint-list">
            <div class="hint">
              <span>效果:+5 XX</span>
              <span>等級:1</span>
              <button class="btn upgrade">升級</button>
            </div>
          </div>
        </div>
        <div class="left-buttons">
          <button class="btn friend" title="好友">好友</button>
          <button class="btn sprites" title="精靈">精靈</button>
          <button class="btn egg" title="孵蛋">孵蛋</button>
          <button class="btn task" title="任務">任務</button>
        </div>
        <div class="right-buttons">
          <button class="btn attack" title="攻擊">攻擊</button>
          <button class="btn defend" title="防禦">防禦</button>
          <button class="btn counter" title="反攻">反攻</button>
        </div>
        <div class="bottom-buttons">
          <button class="btn shop" title="商城">商城</button>
          <button class="btn feed" title="餵食">餵食</button>
          <button class="btn play" title="玩耍">玩耍</button>
          <button class="btn sleep" title="睡覺">睡覺</button>
          <button class="btn clean" title="洗澡">洗澡</button>
          <button class="btn talent" title="才藝">才藝</button>
        </div>
      </div>
      <div class="social-page page">
        這是好友
      </div>
      <div class="sprite-page page">
        這是精靈
      </div>
      <div class="eggs-page page">
        這是孵蛋
      </div>
      <div class="tesk-page page">
        這是任務
      </div>
      <div class="shop-page page">
        這是商店
      </div>
      <div class="talent-page page">
        這是才藝
      </div>
      <div class="attack-page page">
        這是攻擊
      </div>
      <div class="defend-page page">
        這是防禦
      </div>
      <div class="counter-page page">
        這是反攻
      </div>
    </div>
    <script src="/js/home.js"></script>
</body>
</html>