.container {
    width: 80%;
    height: 90%;
    margin: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.player-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

}

.game-area {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #c7e8f3;
}

.pet-area {
    position: absolute;
    height: 50%;
    width: 100%;
    transform: translate(0%, 100%);
    /* border: 1px solid red; */
}

.game-area>.pet-area>img {
    position: absolute;
    height: 200px;
    /* top: 50%;
    left: 50%; */
    /* border: 1px solid blue; */
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.game-area::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /* 可根據需要調整高度比例 */
    background-color: #f0e5d5;
}

.game-area::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 250px;
    /* 可根據需要調整植物圖片的寬度 */
    height: 200px;
    /* 可根據需要調整植物圖片的高度 */
    background-image: url("/images/fern.png");
    /* 替換為左下角植物圖片的路徑 */
    background-repeat: no-repeat;
    background-size: contain;
}

.furniture-area {
    position: relative;
    width: 100%;
    height: 0vh;
    /* height: 500px; 可根據需要調整高度 */
    /* background-color: #ccc; */
    transform: translateY(0);
    /* border: 1px solid yellow; */
}

.furniture {
    position: relative;
    height: 10vh;
    cursor: pointer;
    /* border: blue 1px solid; */
}

.furniture:nth-child(2) {
    height: 15vh;
    transform: translate(-100%, 160%);
}

.furniture:nth-child(3) {
    transform: translate(-100%, 250%);
}

.furniture:nth-child(4) {
    transform: translate(-400%, 360%);
}

.furniture:nth-child(5) {
    transform: translate(-650%, 250%);
}

.furniture:nth-child(6) {
    height: 20vh;
    transform: translate(100%, 160%);
    /* 圖層往上 */
    z-index: 1;
}

.furniture:nth-child(7) {
    height: 20vh;
    transform: translate(-75%, 110%);
}

.furniture:nth-child(1) {
    /* width: 15vw; */
    height: 25vh;
    transform: translate(300%, 25%);
}

/* 根據需要為每個家具設置不同的位置 */
.left-buttons,
.right-buttons {
    position: absolute;
    /* border: black 1px solid; */
    display: flex;
    flex-direction: column;
}

.left-buttons {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-buttons {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-buttons {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 80%;
    /* border: #ff9900 1px solid; */
    margin: 0px;
}

.btn {
    padding: 0px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10%;
    transition: background-color 0.3s;
    display: flex;
    padding: 0px 0px 0px 5px;
    height: 6.5vh;
    border: black 2px solid;
}

.btn:hover {
    background-color: #e0e0e0;
    /* .btn img會旋轉 */
    transform: scale(1.1);
    transition: transform 0.3s;
}

.btn img {
    border: black 2px solid;
    /* background-color: burlywood; */
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 0px 5px;
    height: 100%;
    margin: 0px 5px;
    transition: transform 0.3s ease;
}

.btn>span,
.btn>img {
    transform: translate(50%, 0%);
    /* border: red 1px solid; */
    margin: auto;
}

.bottom-buttons>.btn {
    margin: 0px 1.5vw;
}

.right-buttons>.btn {
    margin: 1.5vh 0px;
}

.left-buttons>.btn {
    margin: 1.5vh 0px;
}

.right-buttons>.btn>img {
    transform: translate(-125%, 0%);
}

.right-buttons>.btn>span {
    transform: translate(100%, 0%);
}

.friend {
    /*   background-color:blue; */
    /* transform:translateY(-100%); */
    display: flex;
    /* flex-direction: column; */


}

.hint-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30%;
    top: 50%;
    left: calc(50% - (30% / 2));
    transform: translate(0%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    pointer-events: none;
    /* 過3秒才隱藏 */
    transition: visibility 0s 3s;
}

.hint {
    display: flex;
    /* visibility: hidden; */
}

.hint span,
.hint button {
    display: inline-block;
    margin-right: 10px;
}

.furniture:hover+.hint-list,
.furniture:hover~.hint-list {
    visibility: visible;
    top: 50%;
    left: calc(50% - (30% / 2));
    ;
    transform: translate(0%, -50%);
    transition-delay: 0s;
    /* transition: top 0.3s ease, left 0.3s ease; */
}

.page {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e3d53;
    /* padding: 0; */
    width: 70%;
    height: 60%;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    /* font-family: 'Arial', sans-serif; */
}

.sprite-page {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    /* padding: 0; */
    width: 80%;
    height: 90%;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    z-index: 9999;
    background-image: "images/sprite/background.png"
}


#friend-list {
    overflow: auto;
    height: 85%;
}